.title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-align: center;
}
.sub-title {
    margin-bottom: 2rem;
    text-align: center;
}
.form-control-group {
    margin-bottom: 2rem;
}
.label {
    display: block;
    margin-bottom: 0.5rem;
}
.size-large {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1rem;
}
.status-basic {
    background-color: transparent;
    border-color: rgba(0,0,0,.42);
    color: #424242;
}
.input-full-width {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
}
.nb-transition {
    transition-duration: .15s;
    transition-property: border,background-color,color,box-shadow;
    transition-timing-function: ease-in;
}
.shape-rectangle {
    border-radius: .25rem;
}
.label-with-link {
    display: flex;
    justify-content: space-between;
}
.forgot-password {
    color: hsla(0,0%,51.4%,.48) !important;
    color: #838383;
}
.forgot-password {
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.custom-control-label::after{
    width: 1.3rem;
    height: 1.3rem;
    top: 0;
}
.custom-control-label::before {
    width: 1.3rem;
    height: 1.3rem;
    top: 0;
}
.status-primary[disabled] {
    background-color: hsla(0,0%,51.4%,.24);
    border-color: hsla(0,0%,51.4%,.24);
    color: hsla(0,0%,51.4%,.48);
}
.appearance-filled.size-large {
    padding: .8125rem 1.125rem;
}
.appearance-filled {
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
}
.shape-rectangle {
    border-radius: .25rem;
}
.size-large {
    font-size: 1rem;
    line-height: 1.25rem;
}
.full-width {
    width: 100%;
}
.appearance-filled.status-primary {
    background-color: #13bfb3;
    border-color: #13bfb3;
    color: #fff;
}