@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
tr.ng2-smart-filters{
    display: none;
}
nb-card-header {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
nb-card-body {
    width: 100%;
    display: inline-block;
    padding: 0 !important;
}
.custom_tabls tr td {
  vertical-align: middle;
}
.conm_bns {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 30px;
  text-decoration: none !important;
  color: #fff !important;
  font-size: 14px;
}
.view_review {
  background: #ff9f05;
}
.view_question {
  background: #0495ee;
}
.tab_edit {
  background: #8f9bb3;
}
.delete_n {
  background: #b00020;
}