<nb-card>
    <nb-card-header>
        <span> CMS Listing </span>

        <button nbButton matRipple hero class="size-medium status-primary changebtn" routerLink="/pages/add-cms"> Add CMS</button>
    </nb-card-header>

    <nb-card-body>
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>  -->
        <div class=" shadow p-3  bg-white clTable">
            <table class="table table-striped table-bordered table-sm row-border hover" datatable>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <!-- <tbody>
         <tr *ngFor="let group of data">
               <td>{{group.name}}</td>
               <td>{{group.email}}</td>
               <td>{{group.website}}</td>
           </tr>
        </tbody> -->
            </table>
        </div>
    </nb-card-body>

</nb-card>