
<section class="lib py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <div class="inner_slides">
                <ngb-carousel *ngIf="deviceDetails&&deviceDetails.device_image">
                  <ng-template *ngFor="let image of deviceDetails.device_image" ngbSlide>
                    <div class="wrapper">
                      <img [src]="assetBaseUrl+image" alt="Random first slide" class="customs_imgs">
                    </div>
                    
                  </ng-template>
                </ngb-carousel>
                  <!-- <img [src]="assetBaseUrl+deviceDetails.device_image[0]" class="img-fluid w-100"> -->
                  <!-- <img src="./assets/images/anna-shvets.jpg" class="img-fluid w-100"> -->
              </div>
             
            </div>

            <div class="col-sm-6">
                <div class="details">
                  <div class="d-flex justify-content-between align-items-center pb-3">
                    <h1 *ngIf="deviceDetails && deviceDetails.device_name" class="feature_title">{{deviceDetails.device_name}}</h1>
                    <div *ngIf="deviceDetails && deviceDetails.average_ratings" class="rattings">
                      <ngb-rating [max]="5" [(rate)]="deviceDetails.average_ratings" [readonly]="true"></ngb-rating>
                      <a (click)="scroll('review')" class="view_res">View Reviews</a>
                    </div>
                    
                  </div>
                    
                    <a *ngIf="deviceDetails&&deviceDetails.category_name"  class="categotes">{{deviceDetails.category_name}} <i class="far fa-folder-open"></i></a>
                    <div class="py-3 fonts_p"> 
                      <p *ngIf="deviceDetails && deviceDetails.device_description" [innerHtml]="deviceDetails.device_description"></p>
                    </div>

                    <a class="categotes mr-4" data-toggle="modal" (click)="open(mymodal)">Add a Review <i class="far fa-edit"></i></a>
                    <a  class="categotes" (click)="openQuestion(quesModal)" data-toggle="modal" data-target="#myModal">Add a Questions <i class="far fa-question-circle"></i></a>
                </div>
            </div>  
        </div>
        <div class="row py-5">
          <div class="col-sm-12">
            <div class="section-title">
              <h2>Device Specifications</h2>
           </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                  <tr *ngIf="deviceDetails&&deviceDetails.device_ac_powered">
                    <td>Ac Powered  </td>
                    <td>{{(deviceDetails.device_ac_powered == 1)?'Yes':'No'}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_autoclavable">
                    <td>Device Autoclavable</td>
                    <td>{{(deviceDetails.device_autoclavable == 1)?'Yes':'No'}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_battery_powered">
                    <td>Battery Powered</td>
                    <td>{{(deviceDetails.device_battery_powered == 1)?'Yes':'No'}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_reusable">
                    <td>Device Reusable</td>
                    <td>{{(deviceDetails.device_reusable == 1)?'Yes':'No'}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_characterstics">
                    <td>Device Characterstics</td>
                    <td>{{deviceDetails.device_characterstics}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_standard_compilance">
                    <td>Device Standard Compliance</td>
                    <td>{{deviceDetails.device_standard_compilance}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_clinical_stage">
                    <td>Device Clinical Stage</td>
                    <td>{{deviceDetails.device_clinical_stage}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_design_file">
                    <td>Device Design File</td>
                    <td><a target="_blank" [href]="deviceDetails.device_design_file">{{deviceDetails.device_design_file}}</a></td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_development_stage">
                    <td>Device Development Stage</td>
                    <td>{{deviceDetails.device_development_stage}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_innovator_type">
                    <td>Device Innovator Type</td>
                    <td>{{deviceDetails.device_innovator_type}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_training_document">
                    <td>Device Training Document</td>
                    <td><a [href]="deviceDetails.device_training_document">{{deviceDetails.device_training_document}}</a></td>
                  </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table">
                  <tr *ngIf="deviceDetails&&deviceDetails.device_manufactures">
                    <td>Device Manufacturers</td>
                    <td>{{deviceDetails.device_manufactures}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_materials">
                    <td>Device Manufacturers</td>
                    <td><a target="_blank" [href]="assetBaseUrl+deviceDetails.device_materials">View</a></td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_power_consumption">
                    <td>Device Power Consumption</td>
                    <td>{{deviceDetails.device_power_consumption}} Watts</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_project_link">
                    <td>Device Project Link</td>
                    <td><a target="_blank" [href]="deviceDetails.device_project_link">{{deviceDetails.device_project_link}}</a></td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_regulatory_approvals">
                    <td>Regulatory Approvals</td>
                    <td>{{deviceDetails.device_regulatory_approvals}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_regulatory_stage">
                    <td>Regulatory Stage</td>
                    <td>{{deviceDetails.device_regulatory_stage}}</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_related_publications">
                    <td>Related Publications</td>
                    <td><a target="_blank" [href]="deviceDetails.device_related_publications">{{deviceDetails.device_related_publications}}</a></td>
                  </tr>
                  <tr *ngIf="deviceDetails && deviceDetails.device_unit_cost">
                    <td>Unit Cost</td>
                    <td>{{deviceDetails.device_unit_cost}} $</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_required_investment">
                    <td>Required Investment</td>
                    <td>{{deviceDetails.device_required_investment}} $</td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_test_data">
                    <td>Device Test Data</td>
                    <td><a [href]="deviceDetails.device_test_data">{{deviceDetails.device_test_data}}</a></td>
                  </tr>
                  <tr *ngIf="deviceDetails&&deviceDetails.device_usage_instruction">
                    <td>Device Usage Instruction</td>
                    <td><a [href]="assetBaseUrl+deviceDetails.device_usage_instruction">View</a></td>
                  </tr>

                </table>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ng-container *ngIf="deviceDetails&&deviceDetails.device_videos">
              <h3 class="py-3">Device Videos : </h3>
              <iframe width="100%" height="400" [src]="safeURL" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </ng-container>
          </div>
        </div>
    </div>
</section>

<section id="review" class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="review_titles py-3">Reviews</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                  <div class="reviews">
                    <div *ngFor="let item of reviewList" class="d-flex blockquote review-item">
                     
                      <div class="col-md-12">

                        <div class="ratebox">
                          <div class="rattings">
                            <ngb-rating [max]="5" [(rate)]="item.ratings" [readonly]="false"></ngb-rating>
                            <small class="review-date">{{item.created_at|date}}</small>
                          </div>
                      </div>

                      <h4 class="mt-2 mb-2">{{item.title}}</h4>

                      <p class="review-text">
                        {{item.desccription}}
                      </p>

                        <div class="caption">
                          <small>By <a href="#">{{item.user_name}}</a></small>
                        </div>
                  
                      </div>                         
                    </div>  

                    <!-- <div class="d-flex blockquote review-item">
                        <div class="col-md-2 text-center">
                          <img class="rounded-circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
                          <div class="caption">
                            <small>by <a href="#joe">Joe</a></small>
                          </div>
                    
                        </div>
                        <div class="col-md-10">
                          <h4>My awesome review</h4>
                          <div class="ratebox">
                              <div class="rattings">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i> 
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="far fa-star"></i>
                              </div>
                          </div>
                          <p class="review-text">My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. </p>
                    
                          <small class="review-date">March 26, 2017</small>
                        </div>                          
                      </div>   -->
                  </div>
            </div>

            <!-- <div class="col-sm-4">
                <img src="./assets/images/markus-winkler.jpg" class="img-fluid rounded">
            </div> -->
        </div>
    </div>
</section>

<section class="mb-5">
    <!-- Accordion -->
	<div class="container" id="accordion-style-1">
			<div class="row">
				<div class="col-12">
					<h3 class="text-green mb-4 text-left ">Questions and Answers</h3>
				</div>
				<div class="col-12 mx-auto">
					<div class="accordion" id="accordionExample">
						<div *ngFor="let item of quesList;let i=index" class="card">
							<div class="card-header" [id]="'heading'+i">
								<h5 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
							  <!--<i class="fa fa-amazon main"></i>--> <i class="fa fa-angle-double-right mr-3"></i>{{item.question}}
							</button>
						  </h5>
							</div>

							<div [id]="'collapse'+i" [ngClass]="(i==0)?'collapse show fade':'collapse fade'"  [attr.aria-labelledby]="'heading'+i" data-parent="#accordionExample">
								<div class="card-body">
									{{(item.answer && item.answer!='')?item.answer:'Awaiting answer from innovator'}}
								</div>
							</div>
						</div>
						
					</div>
				</div>	
			</div>
	</div>
<!-- .// Accordion -->
</section>




  <ng-template #quesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Question</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="quesForm">
          
            <p>Question</p>
           
            <div class="form-group">
              <textarea formControlName="question" rows="5" class="form-control"></textarea>
            </div>
       
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="!quesForm.valid" (click)="modal.close('Save click')">Add Question</button>
    </div>
  </ng-template>

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Review</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
          
            <p>Ratings</p>
            <div class="rattings">
              <ngb-rating [max]="5" [(rate)]="reviewStars" [readonly]="false"></ngb-rating>
            </div>
            <p>Review Title</p>
            <div class="form-group">
              <input type="text" formControlName="title" class="form-control">
            </div>
            <p>Review Comments</p>
            <div class="form-group">
              <textarea formControlName="review" rows="5" class="form-control"></textarea>
            </div>
       
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="!form.valid||reviewStars==0" (click)="modal.close('Save click')">Add Review</button>
    </div>
  </ng-template>

  

  <div [style.display]="showModal ? 'block' : 'none'" class="modal fade show" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Login</h4>
          <button (click)="showModal=false" class="clos_nmd">X</button>
        </div>
        <div class="modal-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && j.email.errors }" />
                    <div *ngIf="submitted && j.email.errors" class="invalid-feedback">
                        <div *ngIf="j.email.errors.required">Email is required</div>
                        <div *ngIf="j.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && j.password.errors }" />
                    <div *ngIf="submitted && j.password.errors" class="invalid-feedback">
                        <div *ngIf="j.password.errors.required">Password is required</div>
                    </div>
                  </div>
              <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
              </div>
              <div class="form-group">
                <p>New member ? <a routerLink="/auth/register"> Register Here</a></p>
              </div>
              <button type="submit" class="btn btn-primary cusims">Submit</button>
            </form>
        </div>
        
      </div>
    </div>
    </div>