<section class="banner_bars py-5" style="background: url(/assets/images/library.png); background-repeat: no-repeat;background-size: cover;background-position: initial;">
    <div class="container">
       <div class="row align-items-center">
           <div class="col-md-12 col-12 order-md-1 order-2 text-center">
              <h1 class="feature_title">Hela Disposable Gown </h1>
              <p class="feature_description">This single-use disposable gown is intended for plastic-based fabric such as 1mil or 2mil plastic sheeting and non-woven polypropylene. It is based on the most commercially accepted isolation gown patterns from Medline, Kimberly Clark, and Cardinal Health.</p>
           </div>
        </div> 
    </div>
</section>
<section class="py-4 cates_bars">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="categotes">Gowns <img src="/assets/images/view.svg"></a>
            </div>
            <div class="col-sm-6 justify-content-end d-flex align-items-center">
                <div class="rattings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="#" class="categotes">Review <img src="/assets/images/view.svg"></a>
            </div>
        </div>
    </div>
</section>
<section class="lib py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="/assets/images/artem-podrez.jpg" class="img-fluid">
            </div>

            <div class="col-sm-6">
                <div class="details">
                    <h3 class="lib_de_tites">Notes</h3>
                    <p>This single-use disposable gown is intended for plastic-based fabric such as 1mil or 2mil plastic sheeting and non-woven polypropylene. It is based on the most commercially accepted isolation gown patterns from Medline, Kimberly Clark, and Cardinal Health. This design has been specially modified to improve staff wearability by thumbhole adjustment and increasing the underarm fabric area. Use the Folding Guide and Folding Board to prep your gowns correctly for staff, i.e. they must be folded this way so staff insert their hands into the interior sleeve area when opening a gown package. This is a very important step. Use the Instructable to map out a production line for several different fabric widths, equipment and pattern choices, including a slide presentation for a CNC template. Use the gown sticker as inspiration for making your own organization graphic to label packaged gowns for delivery.</p>
                </div>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-sm-12">
                <div class="details">
                    <h3>Attribution Organization </h3>
                    <p>This single-use disposable gown is intended for plastic-based fabric such as 1mil or 2mil plastic sheeting and non-woven polypropylene. It is based on the most commercially accepted isolation gown patterns from Medline, Kimberly Clark, and Cardinal Health. This design has been specially modified to improve staff wearability by thumbhole adjustment and increasing the underarm fabric area. Use the Folding Guide and Folding Board to prep your gowns correctly for staff, i.e. they must be folded this way so staff insert their hands into the interior sleeve area when opening a gown package. This is a very important step. Use the Instructable to map out a production line for several different fabric widths, equipment and pattern choices, including a slide presentation for a CNC template. Use the gown sticker as inspiration for making your own organization graphic to label packaged gowns for delivery.</p>

                    <p>This single-use disposable gown is intended for plastic-based fabric such as 1mil or 2mil plastic sheeting and non-woven polypropylene. It is based on the most commercially accepted isolation gown patterns from Medline, Kimberly Clark, and Cardinal Health. This design has been specially modified to improve staff wearability by thumbhole adjustment and increasing the underarm fabric area. Use the Folding Guide and Folding Board to prep your gowns correctly for staff, i.e. they must be folded this way so staff insert their hands into the interior sleeve area when opening a gown package. This is a very important step. Use the Instructable to map out a production line for several different fabric widths, equipment and pattern choices, including a slide presentation for a CNC template. Use the gown sticker as inspiration for making your own organization graphic to label packaged gowns for delivery.</p>

                    <h3>Attribution Organization </h3>
                    <p>This single-use disposable gown is intended for plastic-based fabric such as 1mil or 2mil plastic sheeting and non-woven polypropylene. It is based on the most commercially accepted isolation gown patterns from Medline, Kimberly Clark, and Cardinal Health. This design has been specially modified to improve staff wearability by thumbhole adjustment and increasing the underarm fabric area. Use the Folding Guide and Folding Board to prep your gowns correctly for staff, i.e. they must be folded this way so staff insert their hands into the interior sleeve area when opening a gown package. This is a very important step. Use the Instructable to map out a production line for several different fabric widths, equipment and pattern choices, including a slide presentation for a CNC template. Use the gown sticker as inspiration for making your own organization graphic to label packaged gowns for delivery.</p>

                    <p>This single-use disposable gown is intended for plastic-based fabric such as 1mil or 2mil plastic sheeting and non-woven polypropylene. It is based on the most commercially accepted isolation gown patterns from Medline, Kimberly Clark, and Cardinal Health. This design has been specially modified to improve staff wearability by thumbhole adjustment and increasing the underarm fabric area. Use the Folding Guide and Folding Board to prep your gowns correctly for staff, i.e. they must be folded this way so staff insert their hands into the interior sleeve area when opening a gown package. This is a very important step. Use the Instructable to map out a production line for several different fabric widths, equipment and pattern choices, including a slide presentation for a CNC template. Use the gown sticker as inspiration for making your own organization graphic to label packaged gowns for delivery.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3 class="review_titles">Review</h3>

                <form action="/action_page.php" class="pt-4">
                    <div class="form-group">
                      <label for="uname">Review Title:</label>
                      <input type="text" class="form-control" id="uname" name="uname" required>
                    </div>
                    <div class="form-group py-3">
                      <label for="pwd">Review comment:</label>
                      <textarea class="form-control" rows="5" id="comment" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-warning">Submit</button>
                  </form>
            </div>

            <div class="col-sm-6">
                <img src="/assets/images/markus-winkler.jpg" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>