a {
    color: #13bfb3;
}
.feature_description {
    font-size: 20px !important;
    color: #444;
    margin-bottom: 17px !important;
}
.feature_title {
    font-size: 31px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}
// .details p {
//     font-size: 19px;
// }
.cates_bars {
    background: #13bfb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// .fonts_p p{
//     font-size: 15px;;
// }
a.categotes {
    font-size: 12px;
    display: inline-block;
    align-items: center;
    padding: 4px 15px;
    background: transparent;
    color: #13bfb3;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #13bfb3;
}
a.categotes img {
    width: 15px;
    height: auto;
    filter: invert(1);
    margin-left: 5px;
}
.rattings {
    margin-right: 25px;
    color: #f66e0b;
}
.rattings i {
    margin-right: 4px;
}
button.btn.btn-custom {
    background: #13bfb3;
    color: #fff;
    padding: 8px 25px;
}
#accordion-style-1 h1,
#accordion-style-1 a{
    color:#000;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #13bfb3;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
	// padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #13bfb3;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #13bfb3;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}

// .reviews{
//     padding: 15px;
//     max-width: 768px;
//     margin: 0 auto;
//   }
  
  .review-item{
    background-color: white;
    padding: 15px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px #ccc;
  }
  
  .review-item .review-date{
    color: #cecece;
  }
  .review-item .review-text{ 
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #343a40;
  }
  
  .review-item .reviewer{
    width: 100px;
    height: 100px;
    border: 1px solid #cecece;
  }
  
  /****Rating Stars***/
  .raterater-bg-layer {
      color: rgba( 0, 0, 0, 0.25 );
  }
  .raterater-hover-layer {
      color: rgba( 255, 255, 0, 0.75 );
  }
  .raterater-hover-layer.rated { /* after the user selects a rating */
      color: rgba( 255, 255, 0, 1 );
  }
  .raterater-rating-layer {
      color: rgba( 255, 155, 0, 0.75 );
  }
  .raterater-outline-layer {
      color: rgba( 0, 0, 0, 0.25 );
  }
  
  /* don't change these - you might break something.. */
  .raterater-wrapper {
      overflow:visible;
  }
  
  .software .raterater-wrapper {
      margin-top: 4px;
  }
  
  .raterater-layer,
  .raterater-layer i {
      display: block;
      position: absolute;
      overflow: visible;
      top: 0px;
      left: 0px;
  }
  .raterater-hover-layer {
      display: none;
  }
  .raterater-hover-layer i,
  .raterater-rating-layer i {
      width: 0px;
      overflow: hidden;
  }
  
  .ratebox i {
    font-size: 14px;
}
.review-item {
    margin-bottom: 15px !important;
}
.categotes i {
    color: #13bfb3;
}
.rattings span {
    font-size: 23px;
    margin-right: 8px;
    color: #f06815;
}
.rattings span {
    font-size: 25px;
    margin-left: 5px;
}
a.view_res {
    font-size: 10px;
    margin-left: 8px;
    position: relative;
    top: -2px;
}
.section-title h2 {
    margin: auto;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    width: max-content;
    position: relative;
    padding: 12px 0px;
}

.section-title h2:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #333;
    bottom: 0;
    left: 0;
}

.section-title h2:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #f66e0b;
    bottom: 0;
    left: 50px;
}
.caption small {
    margin-right: 15px;
}
.review-item h4 {
    text-transform: capitalize;
}