.title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-align: center;
}
.sub-title {
    margin-bottom: 2rem;
    text-align: center;
}
.form-control-group {
    margin-bottom: 2rem;
}
.label {
    display: block;
    margin-bottom: 0.5rem;
}
.size-large {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1rem;
}
.status-basic {
    background-color: transparent;
    border-color: rgba(0,0,0,.42);
    color: #424242;
}
.input-full-width {
    width: 100%;
    border-style: solid;
    border-width: 1px;
}
.nb-transition {
    transition-duration: .15s;
    transition-property: border,background-color,color,box-shadow;
    transition-timing-function: ease-in;
}
.shape-rectangle {
    border-radius: .25rem;
}
.label-with-link {
    display: flex;
    justify-content: space-between;
}
.forgot-password {
    color: hsla(0,0%,51.4%,.48) !important;
    color: #838383;
}
.forgot-password {
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.custom-control-label::after{
    width: 1.3rem;
    height: 1.3rem;
    top: 0;
}
.custom-control-label::before {
    width: 1.3rem;
    height: 1.3rem;
    top: 0;
}
.status-primary[disabled] {
    background-color: hsla(0,0%,51.4%,.24);
    border-color: hsla(0,0%,51.4%,.24);
    color: hsla(0,0%,51.4%,.48);
}
.appearance-filled.size-large {
    padding: .8125rem 1.125rem;
}
.appearance-filled {
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
}
.shape-rectangle {
    border-radius: .25rem;
}
.size-large {
    font-size: 1rem;
    line-height: 1.25rem;
}
.full-width {
    width: 100%;
}
.appearance-filled.status-primary {
    background-color: #6200ee;
    border-color: #6200ee;
    color: #fff;
}


.LoginFormSec {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // background: #f5f5f5;
}

.custom-row {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 25px -5px #ccc;
}

.LoginForm {
    padding: 30px 50px;
    position: relative;
}

.LoginFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LoginFormInputs {
    padding: 60px 0px 50px;
}

/*.RegistrationFormInputs {
	padding: 40px 0px 20px;
}*/

.LoginFormHeader .login-btn {
    border: 1px solid #ccc;
    padding: 5px 15px;
    background: #fff;
    border-radius: 3px;
    color: #3e2abe;
    font-weight: 500;
    outline: 0 !important;
}

.LoginFormTital h6 {
    text-transform: uppercase;
    font-size: 12px;
    color: #888;
    letter-spacing: 1px;
}

.LoginFormTital h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.LoginForm input,
.LoginForm select {
    border-radius: 0;
    font-size: 14px;
}

.LoginForm input:focus,
.LoginForm select:focus {
	box-shadow: none !important;
	border-color: #3e2abe;
}

.btn-block button {
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
}

.sign-up-btn {
    margin-bottom: 8px;
    background: #3e2abe;
    color: #fff;
}

.google-btn {
    border: 1px solid #ced4da !important;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn img {
    margin-right: 5px;
    width: 30px;
}

.FormFooter {
    position: absolute;
    left: 50px;
    bottom: 0;
}

.form-change-link {
    margin-top: 15px;
}

.formIMG {
    background: url(/assets/images/BANNER--01.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}