<section class="banner_bars py-5" style="background: url(./assets/images/banner_ab.jpg); background-repeat: no-repeat;background-size: cover;background-position: initial;">
    <div class="container">
       <div class="row align-items-center">
           <div class="col-md-6 col-12 order-md-1 order-2">
              <h1 class="feature_title_top">About Us</h1>
              <!-- <p class="feature_description">We provide links to projects and information about the utility, availability, and manufacturability of personal protective equipment (PPE) and medical supplies, curated by a global team of medical advisers. By using our Library, you have agreed to our <a href="#" class="terms-normal-link">Terms & Conditions.</a></p> -->
           </div>
        </div> 
    </div>
</section> 


<section class="about-section section_padds py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center w-100">
        <div class="col-sm-6">
          <img src="./assets/images/image-1.png" class="rounded img-fluid" alt="slide">
        </div>
        <div class="col-sm-6">
            <div class="feature_content">
                <h2 class="feature_title">Fostering community-led <br> responses to global crises.</h2>
                <p class="feature_description">OSMS provides a curated open-source design library, and guidance to <br> support local groups in effectively organizing fabrication and distribution <br> efforts to meet the local demand for COVID-19 supplies.</p>
                <p class="feature_description">Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and bore advanced restorative dentistry.  <br> We are among the most qualified implant providers in the AUS with over 30 years of uality training and experience.</p>
                <div class="button-container">
                    <a class="size-normal" href="/local-response"><span class="button-inner">Learn More</span></a>
                </div>
            </div>   
        </div>
      </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_contens">
                    <h1>About Us</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>


<!-- <section class="fun-fact-section-two">
    <div class="container">
        <div class="row">
            Column
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="count-box counted">
                    <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                    <h4 class="counter-title">Years of Experience</h4>
                    <span class="count-text" data-speed="3000" data-stop="25">25</span>
                </div>
            </div>

            Column
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="count-box counted">
                    <div class="icon-box"><span class="icon flaticon-team"></span></div>
                    <h4 class="counter-title">Medical Spesialities</h4>
                    <span class="count-text" data-speed="3000" data-stop="470">470</span>
                </div>
            </div>

            Column
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
                <div class="count-box counted">
                    <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                    <h4 class="counter-title">Medical Spesialities</h4>
                    <span class="count-text" data-speed="3000" data-stop="689">689</span>
                </div>
            </div>

            Column
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="1200ms" style="visibility: visible; animation-delay: 1200ms; animation-name: fadeInUp;">
                <div class="count-box counted">
                    <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                    <h4 class="counter-title">Happy Patients</h4>
                    <span class="count-text" data-speed="3000" data-stop="9036">9036</span>
                </div>
            </div>
        </div>
    </div>
</section> -->