<div class="col-md-12 col-lg-12 col-xxxl-12 p-0 mt-0 ">
<div >
    <nb-card class="my-3">
      <nb-card-header class="text-white" style="background-color:rgb(98, 0 ,238)">Change Password</nb-card-header>
      <nb-card-body >
        <form [formGroup]="changePassword" >
            <mat-form-field class="example-full-width col-lg-8 "> 
                <mat-label>Old Password</mat-label>
          <input type="password" formControlName="old_password" matInput fullWidth placeholder="Old Password">
          </mat-form-field>
          <div>
            <p *ngIf="changePassword.controls.old_password.touched &&changePassword.controls.old_password.errors">Old password is a required field</p>
          </div>
          <mat-form-field class="example-full-width col-lg-8"> 
            <mat-label>New Password</mat-label>
          <input type="password" formControlName="new_password" matInput fullWidth placeholder="New Password">
          </mat-form-field>
          <div>
            <p *ngIf="changePassword.controls.new_password.touched &&changePassword.controls.new_password.errors">New password is a required field</p>
          </div>
          <mat-form-field class="example-full-width col-lg-8"> 
            <mat-label> Password</mat-label>
          <input type="password" formControlName="confirm_password" matInput fullWidth placeholder="Confirm Password">
          </mat-form-field>
          <div>
            <p *ngIf="changePassword.controls.confirm_password.touched &&changePassword.controls.confirm_password.errors">Password and Confirm password must match</p>
          </div>
          <button (click)="updatePassword()" nbButton matRipple hero class="size-medium status-primary ml-3 ">
            Update
          </button>
        </form>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>