        .errors_chnage_p p {
            font-size: 12px;
            color: red;
        }
        
        .errors_chnage_p {
            position: absolute;
            top: 33px;
            font-size: 12px;
        }
        
        .outer {
            position: relative;
        }