<div class="container"> 
    <div class="row">
    <div class="col-sm-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-right">
                    <i class="fas fa-sort-numeric-up-alt widget-icon"></i>
                </div>
                <h5 class="text-muted font-weight-normal mt-0" title="Question Count">Total Question Count</h5>
                <h3 class="mt-3 mb-0">{{questions}}</h3>
            </div> <!-- end card-body-->
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-right">
                    <i class="fas fa-poll widget-icon"></i>
                </div>
                <h5 class="text-muted font-weight-normal mt-0" title="No of Reviews Recieved">Total Reviews Recieved</h5>
                <h3 class="mt-3 mb-0">{{reviews}}</h3>
            </div> <!-- end card-body-->
        </div>
        <!-- <div class="inner_boxs">
        <h5>No of Reviews Recieved</h5>
        <h3>{{noOfstarRating}}</h3>
        </div> -->
    </div>

    <div class="col-sm-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-right">
                    <i class="far fa-chart-bar widget-icon"></i>
                </div>
                <h5 class="text-muted font-weight-normal mt-0" title="Avg Ratings Recieved">Total Avg Ratings Recieved</h5>
                <h3 class="mt-3 mb-0">{{avg_review}}</h3>
            </div> <!-- end card-body-->
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-right">
                    <i class="fas fa-laptop widget-icon"></i>
                </div>
                <h5 class="text-muted font-weight-normal mt-0" title="No. of Device View">Total No. of Device View</h5>
                <h3 class="mt-3 mb-0">{{views}}</h3>
            </div> <!-- end card-body-->
        </div>
    </div>
</div>
</div> 

<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <nb-card>
                <nb-card-header class="main_gles">
                    <div class="main_div">
                        Device Detail
                    </div>
                    <div class="bbtn_nm">
                        <a [routerLink]="'/pages/review-listing/'+innovationId"  class="conm_bns view_review"><i class="fas fa-eye"></i> Reviews</a>
                        <a [routerLink]="'/pages/question-listing/'+innovationId" class="conm_bns view_question"><i class="fas fa-eye"></i> Questions</a>
                        <a [routerLink]="'/pages/device-listing/'+innovationId"   class="conm_bns tab_edit"><i class="far fa-edit"></i> Edit</a>
                        <a (click)="onDeleteConfirm()" class="conm_bns delete_n"><i class="far fa-trash-alt"></i> Delete</a> 
                    </div>
                </nb-card-header>
                <nb-card-body class="p-3">
                    <div class="row" *ngIf="device_data">
                        <div class="col-sm-6">
                            <table class="table">
                                <thead>
                                    <tr class="p-3">
                                        <th style="width: 50%;">Property Name</th>
                                        <th style="width: 50%;">Property Value</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Device Name </td>
                                        <td> {{device_data.device_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Category </td>
                                        <td> {{device_data.category_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Subcategory </td>
                                        <td> {{device_data.subcategory_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Reusable </td>
                                        <td> {{device_data.device_reusable}}</td>
                                    </tr>
                                    <tr>
                                        <td>Auto Clavable </td>
                                        <td> {{device_data.device_autoclavable}}</td>
                                    </tr>
                                    <tr>
                                        <td>AC Power </td>
                                        <td> {{device_data.device_ac_powered}}</td>
                                    </tr>
                                    <tr>
                                        <td>Battery Power </td>
                                        <td> {{device_data.device_battery_powered}}</td>
                                    </tr>
                                    <tr>
                                        <td>Power Consumption </td>
                                        <td> {{device_data.device_power_consumption}}</td>
                                    </tr>
                                    <tr>
                                        <td>Unit Cost </td>
                                        <td> {{device_data.device_unit_cost}}</td>
                                    </tr>
                                    <tr>
                                        <td>Required Investment </td>
                                        <td> {{device_data.device_required_investment}}</td>
                                    </tr>
                                    <tr>
                                        <td>Development Stage </td>
                                        <td> {{device_data.device_development_stage}}</td>
                                    </tr>
                                    <tr>
                                        <td>Clinical Stage </td>
                                        <td> {{device_data.device_clinical_stage}}</td>
                                    </tr>
                                    <tr>
                                        <td>Regulatory Stage </td>
                                        <td> {{device_data.device_regulatory_stage}}</td>
                                    </tr>
                                    <tr>
                                        <td>Regulatory Approvals </td>
                                        <td> {{device_data.device_regulatory_approvals}}</td>
                                    </tr>
                                    <tr>
                                        <td>Country </td>
                                        <td> {{device_data.country_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Project Link </td>
                                        <td> {{device_data.device_project_link}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            
                        </div>

                        <div class="col-sm-6">
                            <table class="table">
                            <thead>
                                <tr class="p-3">
                                    <th style="width: 50%;">Property Name</th>
                                    <th style="width: 50%;">Property Value</th>
                                </tr> 
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>Manufactures </td>
                                    <td> {{device_data.device_manufactures}}</td>
                                </tr>
                                <tr>
                                    <td>Test Data </td>
                                    <td> {{device_data.device_test_data}}</td>
                                </tr>
                                <tr>
                                    <td>Design File </td>
                                    <td> {{device_data.device_design_file}}</td>
                                </tr>
                                <tr>
                                    <td>Traning Document </td>
                                    <td> {{device_data.device_training_document}}</td>
                                </tr>
                                <tr>
                                    <td>Related Publications </td>
                                    <td> {{device_data.device_related_publications}}</td>
                                </tr>
                                <tr>
                                    <td>Video </td>
                                    <td> {{device_data.device_videos}}</td>
                                </tr>
                                <tr>
                                    <td>Characterstics </td>
                                    <td> {{device_data.device_characterstics}}</td>
                                </tr>
                                <tr>
                                    <td>Standard Compilance </td>
                                    <td> {{device_data.device_standard_compilance}}</td>
                                </tr>
                                <tr>
                                    <td>Innovator Type </td>
                                    <td> {{device_data.device_innovator_type}}</td>
                                </tr>
                                <tr>
                                    <td>Description </td>
                                    <td> {{device_data.device_description}}</td>
                                </tr>
                                <tr>
                                    <td>Average Ratings </td>
                                    <td> {{device_data.average_ratings}}</td>
                                </tr>
                                <tr>
                                    <td>Usage Instruction </td>
                                    <td> <a [routerLink]="assetsbasepath+device_data.device_usage_instruction">Preview</a></td>
                                </tr>
                            </tbody>
                        </table>

                        
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col-sm-6">
                            <div class="images_bottoms">
                                <h5>Materials</h5>
                                <div class="loopingg_img">
                                    <img [src]="assetsbasepath+device_data.device_materials" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="images_bottoms">
                                <h5>Device Image</h5>
                                <div class="loopingg_img">
                                    <img *ngFor='let deviceImage of device_data.device_image' [src]="assetsbasepath+deviceImage" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="table-responsive p-3">
                        <table  class="table">
                            <thead>
                                <tr class="p-3">
                                    <th style="width: 50%;">Property Name</th>
                                    <th style="width: 50%;">Property Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                            </tbody>
                        </table>
                    </div> -->
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>


