<section class="py-3 pb-5">
  <div class="container">
    <div class="row magic-row">
      <div class="col-lg-12 mb-5">
         <div class="section-title">
            <h2>ICU Need Tracker</h2>
         </div>
      </div>
   </div>
   <!-- <div class="row">
      <div class="col-sm-3">
        
      </div>
   </div> -->

    <!-- <div class="row">
      <div class="col-sm-12">
        
        <div class="iner_filters">

          <div class="uls_filters py-5">
            
            <ul>
              <li><a href="#">Category</a></li>
              <li><a href="#">Item</a></li> 
              <li><a href="#">Search </a></li>
              <li><a href="#">Location</a></li>
              <li><a href="#">Monthly Stays</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row py-5">
      
    </div> -->

    <div class="row">
      <div class="col-sm-4">
        <div class="outer_boxs">
          <!-- <div class="col-sm-12">
            <div class="filter_hedings pb-3">
              <h3>Filters</h3>
            </div>
          </div> -->
          <div class="col-sm-12">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-success test_searchs" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <!-- <div class="form-group mb-3">
              <input type="search" class="form-control" placeholder="Search">
            </div> -->
          </div>
          <div class="col-sm-12">
            <div class="form-group mb-3 locationss">
              <select class="form-control">
                <option>Location</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">
            
              <!-- <select class="form-control">
                <option>Category </option>
                <option>2</option>
                <option>3</option> 
                <option>4</option>
              </select> -->
              <h4 class="titles_hm py-2">Category</h4>
              <div class="uls_filters py-1">
                <ul>
                  <li><a href="#">Hygiene</a></li>
                  <li><a href="#">PPE</a></li> 
                  <li><a href="#">Diagnostics </a></li>
                  <li><a href="#">Monitoring</a></li>
                  <li><a href="#">Oxygen therapy</a></li>
                  <li><a href="#">Airway Management & Intubation</a></li>
                  <li><a href="#">Mechanical Ventilation</a></li>
                  <li><a href="#">Non-Invasive Ventilation</a></li>
                  <li><a href="#">IV Infusion</a></li>
                  <li><a href="#">Blood Chemistry</a></li>
                  <li><a href="#">Imaging</a></li>
                  <li><a href="#">ICU</a></li>
                  <li><a href="#">More +</a></li>
                </ul>
            </div>
          </div>
          <div class="col-sm-12">
            <h4 class="titles_hm py-2">Item</h4>
            <!-- <label></label> -->

            <div class="uls_filters py-1">
              <ul>
                <li><a href="#">Chlorine, HTH 70%</a></li>
                <li><a href="#">Alcohol-based hand rub</a></li> 
                <li><a href="#">Liquid soap </a></li>
                <li><a href="#">Bio-hazardous bag</a></li>
                <li><a href="#">Gown, protective</a></li>
                <li><a href="#">Scrubs, tops</a></li>
                <li><a href="#">Scrubs, pants</a></li>
                <li><a href="#">More +</a></li>
              </ul>
          </div>
            <!-- <div class="form-group mb-3">
              <select class="form-control">
                <option>Item</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div> -->
          </div>
          
         
        </div>
      </div>
    <div>
      <google-chart [data]="geoChart" ></google-chart>
    </div>
    <div class="col-sm-12">
      <div>
        <agm-map style="height:700px" [zoom]="zoom" [latitude]='lat' [longitude]='long' >
          <agm-marker [latitude]="'37.762691'"
                [longitude]="'-122.458588'"></agm-marker>
                <agm-marker [latitude]="'37.762691'"
                [longitude]="'-122.458588'"></agm-marker>
                <agm-marker [latitude]="'37.789580'"
                [longitude]="'-122.416900'"></agm-marker>
                <agm-marker [latitude]="'40.712776'" [longitude]="'-74.005974'"> 
                </agm-marker>
                <agm-marker [latitude]="'61.0666922'" [longitude]="'-107.9917071'"> 
                </agm-marker>
        </agm-map>
      </div>
        
    </div>
    </div>
  </div>
</section>