.uls_filters ul {
    margin: 0;
    padding: 0;
}
.uls_filters ul li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 10px;
    list-style: none;
} 
// .uls_filters ul {
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
// }
.uls_filters ul li a {
    background: transparent;
    color: #6c7591;
    padding: 2px 10px;
    border-radius: 30px;
    border: 1px solid;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-color: #ced4da;
}
.section-title h2 {
    margin: auto;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    width: max-content;
    position: relative;
    padding: 12px 0px;
}

.section-title h2:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #333;
    bottom: 0;
    left: 0;
}

.section-title h2:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #f66e0b;
    bottom: 0;
    left: 50px;
}
.outer_boxs {
    padding: 0px;
    box-shadow: 0 0 10px #ddd;
    border-top: 10px solid #13bfb3;
    padding-top: 30px;
    border-radius: 5px;
    border-bottom: 10px solid #13bfb3;
    padding-bottom: 30px;
}
h4.titles_hm {
    font-size: 16px;
}
button.btn.btn-success.test_searchs {
    background: #fff;
    border-color: #ced4da;
    border-left: 0; 
    color: #13bfb3;
}
.locationss:before {
    // position: absolute;
    // font-weight: 900;
    // right: 0;
    // font-size: 16px;
    // z-index: 99999;
    // top: 0;
    // font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  position: absolute;
    z-index: 9;
    right: 10px;
    top: 6px;
    color: #13bfb3;
}
.locationss {
    position: relative;
}
.locationss select{
    appearance: none;
    position: relative;
}
.google-visualization-tooltip-item {
    white-space: nowrap;
  }