<section class="py-3 pb-5">
  <div class="container">
    <div class="row magic-row">
      <div class="col-lg-12 mb-5">
         <div class="section-title">
            <h2>ICU Criticality Map</h2>
         </div>
      </div>
   </div>
   <!-- new map code start -->
    <section class="about-section section_padds py-5 black_sertions">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="title_bars">
                      <h2 class="cobid_test">COVID-19 ESSENTIAL SUPPLIES DASHBOARD</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-2">
                  <div *ngIf="recentlyIcuNeed">
                      <h5 *ngIf="totalcount && totalcount>0" class="mapsection-theme-heading">Total <span class="text-red">
                    {{totalcount}}
                    </span>
                      </h5>
                      <div class="mapsection-theme">
                          <h5 class="mapsection-theme-heading">Device by Country</h5>
                          <ul class="recentlyDevice">
                              <li *ngFor="let icuneedvalue of itemIcuNeedonmap">
                                  <span class="text-red">{{icuneedvalue.device_need_perday}}</span> {{icuneedvalue.country}}
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="map_deuvs">
                      <!-- <h2 class="text-center feature_title_main">Map  </h2> -->
                      <!-- <div id="chartdiv"></div> -->
                      <div id="container_mapcategory" class="containermap">
                      </div>
                      <!-- <div id="container_mapcategory" #myDOMElement class="containermap" *ngIf="category_data">
                    new map
                    </div> -->
                      <!-- <div id="ac_style_ui--samples-anychart.ui.zoom.decorate" style="display:none;">
                    </div> -->
                      <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                  </div>
              </div>
              <div class="col-sm-2">
                  <div *ngIf="getDeviceCategoryListData" class="mapsection-theme">
                      <h5 class="mapsection-theme-heading">Show by Category</h5>
                      <ul class="recentlyDevice">
                          <li>
                              <a href="javascript:;" (click)="datafilterbycat(0)">
                      All
                      </a>
                          </li>
                          <li *ngFor="let catValue of getDeviceCategoryListData">
                              <a href="javascript:;" (click)="datafilterbycat(catValue.category_id)">
                      {{catValue.category_name}}
                      </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-2">
                <div *ngIf="recentlyIcuNeed" class="mapsection-theme">
                    <h5 class="mapsection-theme-heading">Recently Added</h5>
                    <ul class="recentlyDevice">
                        <li *ngFor="let recentValue of recentlyIcuNeed">
                            <span class="text-red">{{recentValue.device_need_perday}}</span> {{recentValue.itemcat_name}} in {{recentValue.country}}
                        </li>
                    </ul>
                </div>
              </div>
              <!-- <div class="col-sm-6">
              <img src="./assets/images/image-1.png" class="rounded img-fluid" alt="slide">
              </div>
              <div class="col-sm-6">
              <div class="feature_content">
                  <h2 class="feature_title">Fostering community-led <br> responses to global crises.</h2>
                  <p class="feature_description">OSMS provides a curated open-source design library, and guidance to <br> support local groups in effectively organizing fabrication and distribution <br> efforts to meet the local demand for COVID-19 supplies.</p>
                  <p class="feature_description">Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and bore advanced restorative dentistry. <br> We are among the most qualified implant providers in the AUS with over 30 years
                      of uality training and experience.</p>
                  <div class="button-container">
                      <a class="size-normal" href="/local-response"><span class="button-inner">Learn More</span></a>
                  </div>
              </div>
              </div> -->
          </div>
      </div>
    </section>
   <!-- new map code end -->

  <!-- by #s on 22-mar-2021 new map code --
    <div class="row">
      <div class="col-sm-4">
        <div class="outer_boxs">

          <div class="col-sm-12">
            <div class="input-group mb-3 ">
              <input #placesRef="ngx-places" [(ngModel)]="location" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" type="text" [options]="{address_component:'geometry'}" (onAddressChange)="handleAddressChange($event)" class="form-control" placeholder="Search Location">
              <div class="input-group-append">
                <button class="btn btn-success test_searchs" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group mb-3">
              <select (change)="search()" [(ngModel)]="item" class="form-control">
                <option value="0">Item</option>
                <option [value]="item.item" *ngFor="let item of items">{{item.item}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">

            <div class="form-group mb-3">
              <select (change)="search()" [(ngModel)]="risk" class="form-control">
                <option value="0">Severity</option>
                <option value="1">Low Risk</option>
                <option value="2">Medium Risk</option>
                <option value="3">High Risk</option>
                <option value="4">Critical</option>
                <option value="5">Urgent</option>
                <option value="6">Emergent</option>
              </select>
            </div>
          </div>


        </div>
      </div>
      <div class="col-sm-8">
        <div *ngIf="looped" class="shodows">
          <google-chart #mychart [data]="geoChart" ></google-chart>
        </div>
        <div *ngIf="!looped && noResult" class="not_found">
          <p>No data found for your search <a class="clear_filter" (click)="clearFilters()" href="javascript:void(0);"> Clear Filters </a></p>
        </div>
      </div>
    </div>
  ------>

  </div>
</section>
