<section class="py-3 pb-5">
  <div class="container">
    <div class="row magic-row">
      <div class="col-lg-12 mb-5">
         <div class="section-title">
            <h2>ICU Criticality Map</h2>
         </div>
      </div>
   </div>
   

    <div class="row">
      <div class="col-sm-4">
        <div class="outer_boxs">
          <!-- <div class="col-sm-12">
            <div class="filter_hedings pb-3">
              <h3>Filters</h3>
            </div>
          </div> -->
          <div class="col-sm-12">
            <div class="input-group mb-3 ">
              <input #placesRef="ngx-places" [(ngModel)]="location" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" type="text" [options]="{address_component:'geometry'}" (onAddressChange)="handleAddressChange($event)" class="form-control" placeholder="Search Location">
              <div class="input-group-append">
                <button class="btn btn-success test_searchs" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <!-- <div class="form-group mb-3">
              <input type="search" class="form-control" placeholder="Search">
            </div> -->
          </div>
          <div class="col-sm-12">
            <div class="form-group mb-3">
              <select (change)="search()" [(ngModel)]="item" class="form-control">
                <option>Item</option>
                <option *ngFor="let item of items">{{item.item}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">
            
              <!-- <select class="form-control">
                <option>Category </option>
                <option>2</option>
                <option>3</option> 
                <option>4</option>
              </select> -->
              <!-- <mat-form-field>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip>One fish</mat-chip>
                  <mat-chip>Two fish</mat-chip>
                  <mat-chip color="primary" selected>Primary fish</mat-chip>
                  <mat-chip color="accent" selected>Accent fish</mat-chip>
                </mat-chip-list>
              </mat-form-field> -->
              
              <!-- <h4 class="titles_hm py-2">Category</h4>
              <div class="uls_filters py-1">
                <ul>
                  <li><a href="#">Hygiene</a></li>
                  <li><a href="#">PPE</a></li> 
                  <li><a href="#">Diagnostics </a></li>
                  <li><a href="#">Monitoring</a></li>
                  <li><a href="#">Oxygen therapy</a></li>
                  <li><a href="#">Airway Management & Intubation</a></li>
                  <li><a href="#">Mechanical Ventilation</a></li>
                  <li><a href="#">Non-Invasive Ventilation</a></li>
                  <li><a href="#">IV Infusion</a></li>
                  <li><a href="#">Blood Chemistry</a></li>
                  <li><a href="#">Imaging</a></li>
                  <li><a href="#">ICU</a></li>
                  <li><a href="#">More +</a></li>
                </ul>
            </div> -->
          </div>
          <div class="col-sm-12">
            <!-- <h4 class="titles_hm py-2">Item</h4> -->

            <!-- <div class="uls_filters py-1">
              <ul>
                <li><a href="#">Chlorine, HTH 70%</a></li>
                <li><a href="#">Alcohol-based hand rub</a></li> 
                <li><a href="#">Liquid soap </a></li>
                <li><a href="#">Bio-hazardous bag</a></li>
                <li><a href="#">Gown, protective</a></li>
                <li><a href="#">Scrubs, tops</a></li>
                <li><a href="#">Scrubs, pants</a></li>
                <li><a href="#">More +</a></li>
              </ul>
          </div> -->
            <div class="form-group mb-3">
              <select (change)="search()" [(ngModel)]="risk" class="form-control">
                <option value="0">Severity</option>
                <option value="1">Low Risk</option>
                <option value="2">Medium Risk</option>
                <option value="3">Critical</option>
                <option value="4">Urgent</option>
                <option value="5">Emergent</option>
              </select>
            </div>
          </div>
          <!-- <div class="btn_nhs col-sm-12">
            <button (click)="search()" class="btn_subs">Submit</button>
          </div> -->
         
        </div>
      </div>
    <div class="col-sm-8">
      <div *ngIf="looped" class="shodows">
        <google-chart #mychart [data]="geoChart" ></google-chart>
      </div>
      <div *ngIf="!looped && noResult" class="not_found">
        <p>No data found for your search <a class="clear_filter" (click)="clearFilters()" href="javascript:void(0);"> Clear Filters </a></p>
       </div>
    </div>
    
    
    </div>

    <div class="row magic-row">
      <div class="col-lg-12 pt-5">
         <div class="section-title">
            <h2>ICU Needs Location Tracker</h2>
         </div>
      </div>

      <div class="col-sm-12 pt-4">
        <div *ngIf="looped" class="shodows">
          <agm-map style="height:700px" [zoom]="zoom" [latitude]='lat' [longitude]='long' >
                  <agm-marker *ngFor="let item of json" [latitude]="item.latitude"
                  [longitude]="item.longitude"  [iconUrl]="item.iconUrl" (mouseOver)="onMouseOver(infoWindow, $event)" 
                  (mouseOut)="onMouseOut(infoWindow, $event)">
                  <agm-info-window #infoWindow ><p style="padding: 10px; background-color: #13bfb3; color: #fff; font-size: 12px; margin-bottom: 10px;">{{item.hospital_name}}</p><p style="border-bottom: 1px solid #13bfb3; font-size: 12px;">Requirement: {{item.urgency_icuneed}}</p>
                    <p style="border-bottom: 1px solid #13bfb3; font-size: 12px;">Need For: {{item.item_name}}</p>
                  </agm-info-window>
                </agm-marker>                
          </agm-map>
        </div>
          
      </div>
   </div>
  </div>
</section>