<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Add Slider</nb-card-header>
        <nb-card-body>
          <!-- <div class="col-md-12 col-lg-12 col-xxxl-12 success-msg " *ngIf="successform">{{successform}}</div> -->
          <form [formGroup]="teamform" (ngSubmit)="onSubmit()">
            <div class="p-5">
              <mat-form-field class="example-full-width col-lg-8">
                <mat-label>Name</mat-label>
                <input type="text" value="0" formControlName="name" name="name" matInput required/>
                <ng-container *ngIf="f.name.touched && f.name.invalid">
                        <mat-error *ngIf="f.name.errors.required" class="errors-input errors">
                            Required
                        </mat-error>
                </ng-container>
              </mat-form-field>
              <mat-form-field class="example-full-width col-lg-8">
                <mat-label>Description</mat-label>
                <input type="text" value="0" formControlName="description" name="description" matInput required/>
                <ng-container *ngIf="f.description.touched && f.description.invalid">
                        <mat-error *ngIf="f.description.errors.required" class="errors-input errors">
                            Required
                        </mat-error>
                </ng-container>
              </mat-form-field>
                <div class="col-md-8 ">
                    <div class=" text-center btn-1">
                        <label for="file">Upload File</label>
                        <input type="file" accept="image/*" (change)="onDocFileChange($event)" id="file" formControlName="image" class="">
                        <span *ngIf="f.image.touched && f.image.invalid">
                        <span *ngIf="f.image.errors.required" class="errors-input errors">
                            Please select file.
                        </span>
                        </span>
                    </div>
                    <img [src]="url" height="200" class="p-3"> <br/>
                </div>

              <div class="col-lg-8">
                <button type="submit" class="btnchanges">Submit</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>