<nb-card>
    <nb-card-header>Add Characteristics</nb-card-header>
    <nb-card-body class="p-3">
        <form [formGroup]="form">
            <div>
                <mat-form-field appearance="fill" class="col-md-8">
                    <mat-label>Device category</mat-label>
                    <mat-select [disabled]="isEditScreen" formControlName="category_id" (selectionChange)="deviceChange($event.value)">
                        <mat-option *ngFor="let device of category" [value]="device.category_id">
                            {{device.category_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill" class="mt-0 pb-0" class="col-md-8">
                    <mat-label>Device type</mat-label>
                    <mat-select [disabled]="isEditScreen" formControlName="sub_category_id">
                        <mat-option value="">Select Device Type</mat-option>
                        <mat-option *ngFor="let sub of subCatDevices" [value]="sub.sub_category_id">
                            {{sub.subcategory_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="col-md-8">
                    <input formControlName="characteristics_data" type="text" nbInput fullWidth placeholder="Comma Seperated Characteristics ">
                </div>
                <br/><br/>
            </div>
            <div>
                <button (click)="saveComplianceData()" nbButton matRipple hero class="size-medium status-primary ml-3 changebtn">
       {{(isEditScreen)?'Update':'Add'}}
      </button>
            </div>
        </form>

    </nb-card-body>
</nb-card>