@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
tr.ng2-smart-filters{
    display: none;
}
nb-card-header {
    width: 100%;
    display: inline-block;
}
nb-card-body {
    width: 100%;
    display: inline-block;
    padding: 0 !important;
}