<nb-card>
    <nb-card-header>
      Characteristic Listing
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button nbButton matRipple hero class="size-medium status-primary" routerLink="/pages/add-characteristics">Add</button>
    </nb-card-header>
  
    <nb-card-body>
      <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>  -->
      <table *ngIf="characteristicListing && characteristicListing.length>0" class="table table-striped table-bordered table-sm row-border hover" [dtOptions]="dtOptions"  datatable >
      <thead>
        <tr>
          <th>Id</th>
          <th>Device Category</th>
          <th>Device Subcategory</th>
          <th>Action Buttons</th>
        </tr>
      </thead>
      <tbody >
       <tr *ngFor="let item of characteristicListing;let i=index">
             <td>{{i+1}}</td>
             <td>{{item.category_name}}</td>
             <td>{{item.subcategory_name}}</td>
             <td><a [routerLink]="'/pages/edit-characteristics/'+item.characteristics_id">Edit</a><br/>
                <a (click)="deleteCharacteristics(item,i)">Delete</a>
            </td>
         </tr>
      </tbody>
    </table>
    </nb-card-body>
  </nb-card> 
  
