<nb-card>
    <nb-card-header>
        Characteristic Listing

        <button nbButton matRipple hero class="size-medium status-primary changebtn" routerLink="/pages/add-characteristics">Add</button>
    </nb-card-header>

    <nb-card-body class="p-3 bg-white">
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>  -->

        <table *ngIf="characteristicListing && characteristicListing.length>0" class="table  table-bordered table-sm row-border hover" [dtOptions]="dtOptions" datatable>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Device Category</th>
                    <th>Device Subcategory</th>
                    <th>Action Buttons</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of characteristicListing;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.category_name}}</td>
                    <td>{{item.subcategory_name}}</td>
                    <td><a mdbWavesEffect [routerLink]="'/pages/edit-characteristics/'+item.characteristics_id" class=" btnchanges  tabedit "><i class="fa fa-edit"></i>Edit</a>&nbsp;&nbsp;
                        <a (click)="deleteCharacteristics(item,i)" class="btnchanges tabdel "><i class="fa fa-trash"></i>&nbsp;Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>