<nb-card class="col-md-12 col-lg-12 col-xxxl-12 pt-4 shadow bgChange hospital-icu-need-list" id="hospital-icu-need-list">
    <nb-card-header>
        Hospital ICU Need Listing

        <button nbButton matRipple hero class="size-medium status-primary" routerLink="/pages/hospital-ICU-need"> Add </button>
    </nb-card-header>

    <nb-card-body>
        <div class="col-md-12 col-lg-12 col-xxxl-12 success-msg " *ngIf="successform">{{successform}}</div>
        <div class="table-responsive">
        <table *ngIf="hospitalsListData && hospitalsListData.length>0" class="table table-striped table-bordered table-sm row-border hover " [dtOptions]="dtOptions" datatable>
            <thead>
                <tr>
                    <th class="text-center">S.No.</th>
                    <th>Category</th>
                    <th>Item</th>
                    <th>Devices in use</th>
                    <th>Devices not in use</th>
                    <th>Additional devices needed</th>
                    <th>Urgency of Need</th>
                    <th>Unit</th>
                    <th>Reusable</th>
                    <th style="width: 100px !important; max-width: 100px; min-width: 100px;">Date</th>
                    <th style="width: 160px !important; max-width: 140px; min-width: 130px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of hospitalsListData;let i=index">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.item}}</td>
                    <td>{{item.device_in_use }}</td>
                    <td>{{item.device_not_use}}</td>
                    <td>{{item.device_need_perday}}</td>
                    <td>{{item.urgency_icuneed}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.reusable}}</td>
                    <td>{{item.date}}</td>
                    <td>

                        <a [routerLink]="'/pages/edit-ICU-need/'+item.id" class="conm_bns tab_edit" style="margin-right: 10px;"><i class="far fa-edit"></i> Edit </a>
                        <a (click)="deleteHospitalsItemList(item.id,i)" class="conm_bns delete_n delbtn text-white"> <i class="far fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </nb-card-body>
</nb-card>
