*:focus {
  outline: none !important;
}
nb-stepper.mt-0.vertical .header {
    width: 200px !important;
  }
  .step-content {
    padding-top: 0 !important;
  }
  .in_radios {
    margin-bottom: 30px;
  }
  .mat-form-field{
    margin-bottom: 30px;
  }
  .nb-theme-material-light nb-stepper .header .step.selected .label-index {
    background-color: #6200ee;
    border-color: #6200ee;
    color: #fff;
  }
  .step-content {
    width: 100%;
}
.errors {
    position: absolute;
    top: 35px;
    font-size: 12px;
}
.tpo{
    margin-top: 30px;
}
.banner_bars:before {
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  bottom: 0;
  z-index: auto;
}
.banner_bars {
  position: relative;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.btn-custom {
  background: #13bfb3;
  color: #fff;
  padding: 8px 25px;
}
body ,html{
  outline: none;
}
ul#had_navs li a:hover {
  color: #13bfb3 !important;
}
.absolute-header .main_heraders {
  position: relative !important;
  top: 0 !important;
  box-shadow: 0 0 10px #ddd;
}.inner_boxs h5 {
  font-size: 16px;
  color: #6200ee;
}
