.gm-style .gm-style-iw p{
    /* padding: 10px !important; */
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
  }
  .tooltipa{
    padding: 0 !important;
  }
  .tooltipa tr{
    padding: 0px !important;
  }
  .tooltipa td{
    padding: 5px 0px !important;
  }
  .shodows {
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 10px #ccc;
  }
  .google-visualization-tooltip { width:300px }
  
  .gm-style-iw button {display: none !important;}
  .gm-style-iw div {display: none !important;}
  /*style the annoying little arrow at the bottom*/
  .gm-style div div div div div div div div {
    background-color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    color: #000;
    font-size: 16px;
    max-width: 200px !important;
    width: 200px;
    display: inline-block !important;
    overflow: hidden !important;
  }
  
.p-4.table_sidj tr td {
    border-color: #fefefe;
    /* border: none !important; */
    padding-bottom: 15px;
    padding-top: 15px;
}
.p-4.table_sidj tr {
    border: none !important;
    border-color: #333 !important;
    background: none !important;
    border: none !important;
}
.p-4.table_sidj table {
    border: none !important;
}
.p-4.table_sidj tr th {
    border: none !important;
    border: 1px solid #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2 !important;
    padding: 8px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
div#DataTables_Table_0_info {
    padding-top: 40px;
}
div#DataTables_Table_0_paginate {
    padding-top: 30px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: 1px solid #13bfb3 !important;
    background-color: #13bfb3 !important;
    background: #13bfb3 !important;
    border-radius: 60px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: #ffffff !important;
    border: 1px solid #13bfb3 !important;
    background-color: #13bfb3 !important;
    background: #13bfb3 !important;
    border-radius: 60px !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #dee2e6 !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6 !important;
}