
  <div class="col-md-12 col-lg-12 col-xxxl-12 editform" id="custom_form">
    <nb-card>
      <nb-card-header class="text-white" style="background-color:rgb(19 191 179)">Edit Profile</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" class="py-5">
          <mat-form-field class="example-full-width col-lg-8">
            <mat-label>User name</mat-label>
            <input formControlName="user_name" matInput type="text" fullWidth placeholder="User Name">
          </mat-form-field>

          <mat-form-field class="example-full-width col-lg-8">
            <mat-label>Email</mat-label>
            <input formControlName="user_email" [disabled]="'true'" readonly="true" type="email"  matInput fullWidth placeholder="Email">
            <ng-container *ngIf="f.user_email.touched && f.user_email.invalid">
              <mat-error *ngIf="f.user_email.errors.required" class="alert alert-danger">
                Please enter Email
              </mat-error>
              <mat-error *ngIf="f.user_email.errors.pattern">enter correct EmailId
              </mat-error>
            </ng-container>
          </mat-form-field>

          <mat-form-field class="example-full-width col-lg-8">
            <input formControlName="mobile" type="text" matInput fullWidth placeholder="Mobile">
            <ng-container *ngIf="f.mobile.touched && f.mobile.invalid">
              <mat-error *ngIf="f.mobile.errors.required" class="alert alert-danger">
                Please enter Mobile number
              </mat-error>
              <mat-error *ngIf="f.mobile.errors.pattern">enter correct number
              </mat-error>
            </ng-container>
          </mat-form-field>

          <mat-form-field class="example-full-width col-lg-8">
            <input formControlName="address" type="text" matInput fullWidth placeholder="Address">
          </mat-form-field>

          <!-- <div class="col-lg-8">
            <input type="file" accept="image/*" id="file" class="ml-3" (change)="onFileChange($event)">
            <label for="file" >Choose file</label>
          </div> -->
          <!-- Image Preview -->
           <div class="col-lg-8">

          <input type='file'   accept="image/*" id="file" (change)="onFileChange($event)">
          <label for="file" >Choose file</label>
          <img [src]="url" height="200" class="p-3"> <br/>
         </div>

          <br />
          <div class="col-lg-8">
            <button (click)="updateProfile()" class="cutom_btn_all"> Update </button>
          </div>


        </form>

      </nb-card-body>
    </nb-card>
  </div>

  <!-- <div class="col-lg-6">



    <nb-card>
      <nb-card-header>Change Password</nb-card-header>
      <nb-card-body>
        <form [formGroup]="changePassword">
          <input type="password" formControlName="old_password" nbInput fullWidth placeholder="Old Password">
          <div>
            <p *ngIf="changePassword.controls.old_password.touched &&changePassword.controls.old_password.errors">Old password is a required field</p>
          </div>
          <input type="password" formControlName="new_password" nbInput fullWidth placeholder="New Password">
          <div>
            <p *ngIf="changePassword.controls.new_password.touched &&changePassword.controls.new_password.errors">New password is a required field</p>
          </div>
          <input type="password" formControlName="confirm_password" nbInput fullWidth placeholder="Confirm Password">
          <div>
            <p *ngIf="changePassword.controls.confirm_password.touched &&changePassword.controls.confirm_password.errors">Password and Confirm password must match</p>
          </div>
          <button (click)="updatePassword()" nbButton matRipple hero class="size-medium status-primary">
            Update
          </button>
        </form>

      </nb-card-body>
    </nb-card>
  </div> -->

<!-- <div *ngIf="showMaterialInputs" class="row">
  <div class="col-lg-12">
    <ngx-material-inputs></ngx-material-inputs>
  </div>
</div> -->
