<div class="col-md-12 col-lg-12 col-xxxl-12 ">
<nb-card>
  <nb-card-header class="text-white" style="background-color:rgb(19 191 179)">Review Listing</nb-card-header>
    <nb-card-body class="review" id="Review">
        <table *ngIf="reviewListing && reviewListing.length>0" class="table table-bordered custom_tabls" [dtOptions]="dtOptions"  datatable >
            <thead>
                <tr>
                  <th class="text-center">S.No.</th>
                  <th>Device Name</th>
                  <th>Review Title</th>
                  <th>Review Description</th>
                  <th>Ratings</th>
                  <th style="width:120px">Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of reviewListing;let i=index">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{item.device_name}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.desccription}}</td>
                    <td>{{item.ratings}}</td>
                    <td>
                      <a [routerLink]="'/pages/review-edit/'+item.id" class="conm_bns tab_edit"><i class="far fa-edit"></i> Edit</a></td>
                  </tr>
              </tbody>
        </table>
        <div *ngIf="reviewListing.length == 0">
        <p>No reviews made by you yet</p>
        </div>
    </nb-card-body>
</nb-card>
</div>