@import '../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
}

tr.ng2-smart-filters {
    display: none;
}

nb-card-header {
    width: 100%;
    display: inline-block;
    background-color: #13bfb3 !important;
    color: white;
}

nb-card-body {
    line-height: 2.5rem;
}

nb-card {
    box-shadow: 0 0 10px #ccc;
}

.UV-btn {
    cursor: pointer;
    border: 1px solid #13bfb3;
    text-decoration: none !important;
    padding: 3px 10px;
    font-size: 13px !important;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.UV-btn:hover {
    background: #13bfb3;
    color: #fff !important;
}