.top_centions {
    background-color: #13bfb3;
    height: 46px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

p.support-top {
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #fff;
    margin-right: 16px;
}

#header-suppot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size-normal {
    padding: 4px 8px;
    background-color: #13bfb3;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    font-weight: 700;
}

header.main_heraders {
    // padding-top: 15px;
    // padding-bottom: 15px;
    // border-bottom: 1px solid #ccc;
    z-index: 9;
    width: 100%;
    top: 40px;
}

#had_navs a {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

ul#had_navs li {
    padding-left: 15px;
    padding-right: 15px;
}

ul#had_navs li:last-child {
    padding-right: 0;
}

ul.footer-links li a {
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
}

ul.footer-social {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    margin: 0;
}

ul.footer-social li {
    margin-right: 18px;
    line-height: 1em;
    list-style: none;
}

ul.footer-social li a {
    color: #fff;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    text-decoration: none;
}

a.nav-link.login_links {
    background: #13bfb3;
    border-radius: 30px;
    padding: 5px 20px !important;
    color: #fff !important;
    box-shadow: 0 0 10px #ddd;
}

.home {
    padding: 16px;
}

nav.navbar {
    box-shadow: 0 0 25px #00000020;
}