<section class="top_centions">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12">
                <div id="header-suppot">
                    <p class="support-top">Support OSMS </p>
                    <a class="size-normal" href="#" target="_blank">Donate</a>
                </div>
            </div>
        </div>
    </div>
</section>
<header class="main_heraders">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center w-100">
                <a class="navbar-brand  mr-auto" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto" id="had_navs">
            <li class="nav-item active">
              <a class="nav-link" href="#">ABOUT<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">COVID-19 GUIDES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PROJECT LIBRARY</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LOCAL RESPONSE
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GLOBAL IMPACT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
          </ul>
        </div>
            </div>
        </div>
        
      </nav>
</header>