<section class="pt-4">
    <div class="container">
        <div class="row magic-row">
            <div class="col-lg-12 mb-4">
            <div class="section-title">
                <h2>Innovator Listing</h2>
            </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3 input-group-lg">
                    <input type="text" [(ngModel)]="searchString" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success btn_searchs" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
            </div>
            
            <div class="col-sm-3">
                <div class="form-group input-group-lg">
                    <select class="form-control" id="sel1">
                      <option value=0>All</option>
                      <option *ngFor="let item of getSubCategory" [value]="item.sub_category_id">{{item.subcategory_name}}</option>
                    </select>
                  </div>
            </div>
            <!-- <div class="col-sm-1">
                <button class="btn btn-success btn_searchs" type="submit">Search</button>
            </div> -->
        </div>
    </div>
</section>
<section class="pb-5">
   <div class="container">

      <div class="row pt-4">
        <div *ngFor="let innovator of innovatorListing" class="col-lg-3 col-md-3 col-12 mb-4">
          <div class="service-img-box">
             <a class="service-link-box">
                <div class="service-box-overlay"></div>
                <!-- <img [src]="imageBasePath+innovator.data_path" class="service-img img-fluid" alt="slide"> -->
                <img src="./assets/images/anna-shvets.jpg" class="service-img img-fluid" alt="slide">

                <div class="LibCard-Btn service-box-icon">
                 <a (click)="openDetails(innovator)" href="javascript:void(0);">Info<img src="./assets/images/view.svg"></a>
                
              </div>
                <!-- <img src="./assets/images/right-arrow.svg" class="service-box-icon img-fluid" alt="slide"> -->
                <h5>{{innovator.device_name}}</h5>
             </a>
          </div>
       </div>

      </div>

   </div>
</section>