<nb-card>
    <nb-card-header>
        ICU Needs Listing
    </nb-card-header>
    <div class="p-3">
        <nb-card-body>
            <div class="table-responsive">
            <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>  -->
            <table *ngIf="hospitalsListing && hospitalsListing.length>0" class="table table-striped table-bordered table-sm row-border hover" [dtOptions]="dtOptions" datatable>
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Hospital Name</th>
                        <th>Locations</th>
                        <th>User Name</th>
                        <th>Date</th>
                        <th>Action Buttons</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of hospitalsListing;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.healthcare_facility_name}}</td>
                        <td>{{item.facility_location}}</td>
                        <td>{{item.user_name}}</td>
                        <td>{{item.updated_date}}</td>
                        <td> &nbsp;&nbsp;<a [routerLink]="'/pages/hospitals-detail/'+item.id" class="btnchanges tabedit"><i class="fa fa-eye"></i>&nbsp;View</a>&nbsp;&nbsp;
                            <a (click)="deleteListing(item.id,i)" class="btnchanges tabdel"><i class="fa fa-trash"></i>&nbsp;Delete</a></td>

                    </tr>
                </tbody>
            </table>
            </div>
        </nb-card-body>
    </div>
</nb-card>