<nb-card>
    <nb-card-header>
        Compliance Listing &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button nbButton matRipple hero class="size-medium status-primary changebtn" routerLink="/pages/add-compliance">Add</button>
    </nb-card-header>

    <nb-card-body>
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>  -->
        <table *ngIf="complianceList && complianceList.length>0" class="table  table-bordered table-sm row-border hover" [dtOptions]="dtOptions" datatable>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Device Category</th>
                    <th>Device Subcategory</th>
                    <th>Action Buttons</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of complianceList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.category_name}}</td>
                    <td>{{item.subcategory_name}}</td>
                    <td>&nbsp;<a [routerLink]="'/pages/edit-compliance/'+item.compliance_id" class="tabedit btnchanges "><i class="fa fa-edit"></i>&nbsp;Edit</a>&nbsp;&nbsp;
                        <a (click)="deleteCompliance(item,i)" class="tabdel btnchanges "><i class="fa fa-trash"></i>&nbsp;Delete</a></td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>