<ng-container *ngIf="!userLoggedIn">
   <footer >
      <!-- <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
               <div class="footer-colum">
                  <h5>Learn</h5>
                  <ul class="footer-links">
                     <li><a href="#">About</a></li>
                     <li><a href="#">COVID-19 Guides</a></li>
                     <li><a href="#">Project Library</a></li>
                     <li><a href="#">Local Response</a></li>
                     <li><a href="#">Global Impact</a></li>
                     <li><a href="#">Important Terms & Conditions</a></li>
                     <li><a href="#">Privacy Policy</a></li>
                  </ul>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-12">
               <div class="footer-colum">
                  <h5>Act</h5>
                  <ul class="footer-links">
                     <li><a href="#">Find a Group</a></li>
                     <li><a href="#">Register Your Group</a></li>
                     <li><a href="#">Join the Conversation</a></li>
                     <li><a href="#">Attend an Event</a></li>
                     <li><a href="#">Contact Us</a></li>
                     <li><a href="#">Donate</a></li>
                  </ul>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-12">
               <div class="footer-colum">
                  <h5>Connect</h5>
                  <ul class="footer-social">
                     <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  </ul>
  
                  <div class="NewsletterBlock">
                     <h5>Newsletter Sign-up</h5>
                     <div class="NewsletterInput">
                        <input type="text" placeholder="Enyer Your Email" class="form-control" name="" required="">
                        <button type="submit" class="subscribe-btn">Subscribe</button>
                     </div>
                  </div>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-12">
               <div class="footer-colum">
                  <h5>Search Our Site</h5>
                  <div class="footer-searchbox">
                     <input type="text" placeholder="Search..." class="form-control" name="">
                     <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
  
      <div class="container-fluid">
         <div class="row subfooter-row">
            <div class="col-lg-3 col-md-3 col-12">
               <div class="footer-logo">
                  <a href="/"><img class="img-fuild main_logo" src="./assets/images/OpenICU-Logo-white.png"></a>
               </div>
            </div>
  
            <div class="col-lg-6 col-md-6 col-12">
               <div class="copy-right">
                  <p>@ 2021 OpenICU, a project of CoVent Challenge Corp.<br>This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.</p>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-12">
               <div class="footer-copyright">
                  <a href="#" target="_blank">
                     <img src="images/copyright-img.png" alt="" width="25px">
                     <img src="images/copyright-img2.png" alt="" width="25px">
                     <img src="images/copyright-img3.png" alt="" width="25px">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </footer>
</ng-container>
