<section class="LoginFormSec">
  <div class="container">
    <div class="row custom-row">
       <div class="col-lg-5 col-md-5 col-12 p-0">
         <div class="LoginForm">
             <div class="LoginFormDetails">
                 <div class="LoginFormHeader">
                    <img src="./assets/images/logo.png" width="50">
                    <button routerLink="/auth/login" class="login-btn">Login</button>
                 </div>
                 <div class="LoginFormInputs">
                    <div class="LoginFormTital">
                        <h1>Forgot Password</h1>
                    </div>
                    <div *ngIf="emailNcodeverify; else elseBlock">
                        <form [formGroup]="form" aria-labelledby="title">
                        <div class="form-control-group">
                            <label class="label" for="input-email">Email address:</label>
                            <input name="email" id="input-email" placeholder="Email address"
                            formControlName="email" class="input-full-width size-large status-basic shape-rectangle">
                            <ng-container>
                                <p class="caption status-danger" *ngIf="form.controls.email.touched && form.controls.email.errors?.required">
                                    Email is required
                                </p>
                                <p class="caption status-danger" *ngIf="form.controls.email.touched && form.controls.email.errors?.email">
                                    Email is invalid
                                </p>
                            </ng-container>
                        </div>
                        <div>
                        <button *ngIf="!emailSent" [disabled]="!form.valid" (click)="verify()">Forgot Password</button>
                        </div>
                        </form>
                        <div *ngIf="emailSent">
                            <p>Enter the code sent over mail.</p>
                            <div class="form-control-group">
                                <input name="code" [(ngModel)]="code" class="input-full-width size-large status-basic shape-rectangle">
                            </div>
                        <button [disabled]="code == ''" (click)="codeVerify()">
                            Verify
                        </button>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="form-control-group">
                            <label class="label" for="input-email">Password:</label>
                            <input type="password" name="password" [(ngModel)]="password" class="input-full-width size-large status-basic shape-rectangle">
                            <span *ngIf="passwordValidation==true" class="errors-input">
                                Password is required
                            </span>
                        </div>
                        <div class="form-control-group">
                            <label class="label" for="input-email">Confirm Password:</label>
                            <input type="password" name="con_password" [(ngModel)]="con_password" class="input-full-width size-large status-basic shape-rectangle">
                            <span *ngIf="passwordValidation==true" class="errors-input">
                                Confirm password is required
                            </span>
                            <span *ngIf="passwordValidation==false && passwordmatchValidation==true" class="errors-input">
                                Confirm password is not match
                            </span>
                        </div>
                        <button (click)="saveNewPassword()">
                            Submit
                        </button>
                    </ng-template>

                    
                 </div>
             </div>
         </div>
       </div>
    </div>
  </div>
</section>