.inner_chart h4{
    padding: 15px;
    color: #6c757d;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
}
.chart{
    box-shadow: 0 0 10px #ccc;
}
.clTable{
    box-shadow: 0 0 10px #ccc;
    line-height: 2.5rem;
}