// nb-card-body {
//     background-color: white;
//     overflow: visible;
//     padding-top: 0;
//     >* {
//         margin-top: 1rem;
//     }
// }
// .full-name-inputs,
// .validation-checkboxes {
//     display: flex;
//     margin: 0 -0.5rem;
//     >* {
//         margin: 0 0.5rem;
//     }
// }
nb-card-body {
    display: flow-root;
    width: 100%;
    background: #fff;
}

.errors-input {
    color: #ff0000
}

.success-msg {
    color: rgb(80, 44, 238);
    background: #75cc75;
}

nb-card-header {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #13bfb3 !important;
    color: white;
    border: gray;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

nb-card {
    box-shadow: gray;
}

// [type="file"]+label {
//     background: #a89c98 !important;
//     border: none;
//     border-radius: 5px;
//     color: #fff;
//     cursor: pointer;
//     display: inline-block;
//     font-family: 'Rubik', sans-serif;
//     font-size: inherit;
//     font-weight: 500;
//     margin-bottom: 1rem;
//     outline: none;
//     padding: 1rem 50px;
//     position: relative;
//     transition: all 0.3s;
//     vertical-align: middle;
// }
.btn-1 {
    background-color: #13bfb3;
    border: none;
    border-radius: 5px;
    transition: none;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    outline: none;
    padding: 5px 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

.btnChanges {
    background: #237973 !important;
    padding: 10px 35px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
}