<style>

</style>
<!--slide start-->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="display: none;">
    <div class="carousel-inner" *ngIf="sliderContent && sliderContent.length>0">
        <div class="carousel-item " [ngClass]="(i==0)?'active':''" *ngFor="let slide of sliderContent;let i=index">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-12 order-md-1 order-2">
                            <h4>{{slide.heading}}</h4>
                            <p>{{slide.description}}</p>
                            <a href="#">{{slide.button_text}}</a> </div>
                        <!-- <div class="col-md-5 col-12 order-md-2 order-1"><img src="./assets/images/HeroImage[FINAL][1].png" class="mx-auto img-fluid" alt="slide"></div> -->
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>  -->

</div>



<section class="about-section section_padds py-5 black_sertions">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="title_bars">
                    <h2 class="cobid_test">COVID-19 ESSENTIAL SUPPLIES DASHBOARD</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <div *ngIf="recentlyIcuNeed">
                    <h5 *ngIf="totalcount && totalcount>0" class="mapsection-theme-heading">Total <span class="text-red">
                        {{totalcount}}
                    </span></h5>

                    <div class="mapsection-theme">
                        <h5 class="mapsection-theme-heading">Device by Country</h5>
                        <ul class="recentlyDevice">
                            <li *ngFor="let icuneedvalue of itemIcuNeedonmap">
                                <span class="text-red">{{icuneedvalue.device_need_perday}}</span> {{icuneedvalue.country}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="map_deuvs">
                    <!-- <h2 class="text-center feature_title_main">Map  </h2> -->

                    <!-- <div id="chartdiv"></div> -->
                    <div id="container_mapcategory" class="containermap">
                    </div>


                    <!-- <div id="container_mapcategory" #myDOMElement class="containermap" *ngIf="category_data">
                        new map
                    </div> -->
                    <!-- <div id="ac_style_ui--samples-anychart.ui.zoom.decorate" style="display:none;">
                    </div> -->

                    <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                </div>
            </div>

            <div class="col-sm-2">
                <div *ngIf="getDeviceCategoryListData" class="mapsection-theme">
                    <h5 class="mapsection-theme-heading">Show by Category</h5>
                    <ul class="recentlyDevice">
                        <li>
                            <a href="javascript:;" (click)="datafilterbycat(0)">
                               All
                               </a>
                        </li>
                        <li *ngFor="let catValue of getDeviceCategoryListData">
                            <a href="javascript:;" (click)="datafilterbycat(catValue.category_id)">
                            {{catValue.category_name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div *ngIf="recentlyIcuNeed" class="mapsection-theme">
                    <h5 class="mapsection-theme-heading">Recently Added</h5>
                    <ul class="recentlyDevice">
                        <li *ngFor="let recentValue of recentlyIcuNeed">
                            {{recentValue.device_need_perday}} {{recentValue.itemcat_name}} in {{recentValue.country}}
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-sm-6">
                <img src="./assets/images/image-1.png" class="rounded img-fluid" alt="slide">
            </div>
            <div class="col-sm-6">
                <div class="feature_content">
                    <h2 class="feature_title">Fostering community-led <br> responses to global crises.</h2>
                    <p class="feature_description">OSMS provides a curated open-source design library, and guidance to <br> support local groups in effectively organizing fabrication and distribution <br> efforts to meet the local demand for COVID-19 supplies.</p>
                    <p class="feature_description">Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and bore advanced restorative dentistry. <br> We are among the most qualified implant providers in the AUS with over 30 years
                        of uality training and experience.</p>
                    <div class="button-container">
                        <a class="size-normal" href="/local-response"><span class="button-inner">Learn More</span></a>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</section>

<section class="guides py-5">
    <div class="container">
        <div class="row ">

            <div class="col-sm-12">
                <div class="content-wrapper">

                    <!-- <div id="chartdiv"></div> -->
                    <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                    <div class="row">
                        <div class="col-md-4 ">
                            <h1 class="text-center abouttxt">about<br> our lab </h1>
                        </div>
                        <div class="col-md-6">
                            <h5>designing and scaling life <br> saving resources for all</h5>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, voluptatum quas quia harum repudiandae necessitatibus. Totam, quaerat deserunt aut iusto autem esse vero, aspernatur facilis dolores sunt laudantium quae adipisci.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptate explicabo aliquid modi, expedita dignissimos nam ratione nobis, vitae enim sit molestiae, iusto dolores libero unde. Quas, totam. Repudiandae, ad.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eveniet laborum ullam dolores? Eum placeat expedita obcaecati reiciendis sunt nihil quisquam rem? Accusamus, repellat itaque. Eos cumque vitae neque incidunt?</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="guides py-5">
    <div class="container">
        <div class="row pb-4">

            <div class="col-sm-12">
                <div class="content-wrapper">
                    <h4 class="text-center feature_title_main">Our theory of Change </h4>
                    <!-- <div id="chartdiv"></div> -->
                    <h3 class="text-center feature_description  mt-5">engineers, designers, physicians and <br> humanitarians working together <br> to create economical and validated <br>critical care technology</h3>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="guides py-5">
    <div class="container">
        <div class="row pb-4">
            <div class="card card1">

                <div class="card-body">
                    <h4 class="card-title">1 - </h4>
                    <h4 class="card-title">Open <br> Innovation</h4>
                    <p class="card-text">Open innovation leverages global intellectual capital and cross-industry collabration to invent the most cost-effective and powerful medical technologies.</p>

                </div>
            </div>
            <div class="card card2">

                <div class="card-body">
                    <h4 class="card-title">2 - </h4>
                    <h4 class="card-title">Local Supply<br> Chains</h4>
                    <p class="card-text">Empowering local supply chains to manyfacture, deploy and service critical medical equipment is essential for sustainable solution.</p>

                </div>
            </div>
            <div class="card card3">

                <div class="card-body">
                    <h4 class="card-title">3 - </h4>
                    <h4 class="card-title">Shared <br> Knowledge</h4>
                    <p class="card-text">Sharing best practices and lessons learned is even more powerful when you work with a common set of tools.</p>

                </div>
            </div>
        </div>
    </div>


</section>

<section class="guides py-5">
    <div class="container">
        <div class="row pb-4">

            <div class="col-sm-12">
                <div class="content-wrapper">
                    <h2 class="text-center ">Device Innovations Listing </h2>

                    <!-- <div id="chartdiv"></div> -->
                    <div class="row pt-4">
                        <div *ngFor="let item of featuredInnovatorListing" class="col-lg-4 col-md-4 col-12">
                            <div class="InnovationsList-Info">
                                <a (click)="navigateToDetail(item)" class="InnovationsList-box">
                                    <div class="SInnovationsList-img-block">
                                        <img [src]="assetUrl+item.data_path" class="img-fluid" alt="slide">
                                    </div>

                                    <div class="InnovationsList-details">
                                        <h6>{{item.device_name}}</h6>
                                        <ul class="rating">
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                        <a class="mec-btn">MECHANICAL VENTILATION</a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sapiente voluptates quidem earum,</p>
                                        <div class="QR-btn-block">
                                            <a class="device-button">Add A REVIEW <i class="far fa-edit"></i></a>
                                            <a class="device-button">ADD A QUESTION <i class="far fa-question-circle"></i></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                </div>
            </div>



        </div>

        <!-- <div class="row pt-4">
            <div *ngFor="let item of featuredInnovatorListing" class="col-lg-3 col-md-3 col-12">
                <div class="service-img-box">
                    <a (click)="navigateToDetail(item)" class="service-link-box">
                        <div class="service-box-overlay"></div>
                        <img [src]="assetUrl+item.data_path" class="service-img img-fluid" alt="slide">
                        <img src="./assets/images/right-arrow.svg" class="service-box-icon img-fluid" alt="slide">
                        <h5>{{item.device_name}}</h5>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- <div class="row py-5">
          <div class="col-sm-12">
            <div class="view_all_btns">
              <button class="btn_all btn">View All →</button>
            </div>
          </div>
        </div> -->

    </div>
</section>
<!-- <section class=" py-5">
    <div class="container device-loc">
        <div class="row">

            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


        </div>
    </div>
</section> -->



<section class="makefind py-5" style="display: none;">
    <div class="container">
        <div class="row pb-4">
            <div class="col-sm-12">
                <div class="content-wrapper">
                    <h2 class="text-center feature_title_main">Featured Categories</h2>
                    <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div *ngFor="let item of featuredCategories" class="col-lg-3 col-md-3 col-12 mb-4">
                <div class="service-img-box_02">
                    <a (click)="navigateToCategory(item)" class="service-link-box_02">
                        <div class="service-box-overlay_02"></div>
                        <img [src]="assetUrl+item.category_image" class="service-img_02 img-fluid" alt="slide">
                        <img click="navigateToCategory(item)" src="./assets/images/right-arrow.svg" class="service-box-icon_02 img-fluid" alt="slide">
                        <h5>{{item.category_name}}</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-sm-12">
                <div class="view_all_btns">
                    <button routerLink="/library" class="btn_all btn">View All →</button>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center align-items-center pt-4">
        <div class="service-block-three col-lg-5 col-md-5 col-sm-5">
          <div class="inner-box">
            <span class="icon flaticon-dentist"></span>
            <h5><a href="#">MAKE MEDICAL SUPPLIES</a></h5>
            <div class="text">Dentistry, also known as dental medicine and ‘oral medicine, is a branch of medicine that consists of the study, diagnosis, prevention, and treatment.</div>
            <span class="icon-float flaticon-dentist"></span>
        </div>
        </div>

        <div class="service-block-three col-lg-5 col-md-5 col-sm-5">
          <div class="inner-box">
            <span class="icon flaticon-dentist"></span>
            <h5><a href="#">MAKE MEDICAL SUPPLIES</a></h5>
            <div class="text">Dentistry, also known as dental medicine and ‘oral medicine, is a branch of medicine that consists of the study, diagnosis, prevention, and treatment.</div>
            <span class="icon-float flaticon-dentist"></span>
        </div>
        </div>
      </div> -->

        <!-- <div class="row justify-content-center align-items-center">
        <div class="service-block-three col-lg-5 col-md-5 col-sm-5">
          <div class="inner-box">
            <span class="icon flaticon-dentist"></span>
            <h5><a href="#">MAKE MEDICAL SUPPLIES</a></h5>
            <div class="text">Dentistry, also known as dental medicine and ‘oral medicine, is a branch of medicine that consists of the study, diagnosis, prevention, and treatment.</div>
            <span class="icon-float flaticon-dentist"></span>
        </div>
        </div>

        <div class="service-block-three col-lg-5 col-md-5 col-sm-5">
          <div class="inner-box">
            <span class="icon flaticon-dentist"></span>
            <h5><a href="#">MAKE MEDICAL SUPPLIES</a></h5>
            <div class="text">Dentistry, also known as dental medicine and ‘oral medicine, is a branch of medicine that consists of the study, diagnosis, prevention, and treatment.</div>
            <span class="icon-float flaticon-dentist"></span>
        </div>
        </div>
      </div> -->

        <!-- <div class="row justify-content-center align-items-center">
        <div class="service-block-three col-lg-5 col-md-5 col-sm-5">
          <div class="inner-box">
            <span class="icon flaticon-dentist"></span>
            <h5><a href="#">MAKE MEDICAL SUPPLIES</a></h5>
            <div class="text">Dentistry, also known as dental medicine and ‘oral medicine, is a branch of medicine that consists of the study, diagnosis, prevention, and treatment.</div>
            <span class="icon-float flaticon-dentist"></span>
        </div>
        </div>

        <div class="service-block-three col-lg-5 col-md-5 col-sm-5">
          <div class="inner-box">
            <span class="icon flaticon-dentist"></span>
            <h5><a href="#">MAKE MEDICAL SUPPLIES</a></h5>
            <div class="text">Dentistry, also known as dental medicine and ‘oral medicine, is a branch of medicine that consists of the study, diagnosis, prevention, and treatment.</div>
            <span class="icon-float flaticon-dentist"></span>
        </div>
        </div>
      </div> -->

    </div>
</section>

<section style="display: none;">
    <div class="container">
        <div class="row pb-4">
            <div class="col-sm-12">
                <div class="content-wrapper">
                    <h2 class="text-center feature_title_main">ICU Need Tracker</h2>
                    <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13004082.928417291!2d-104.65713107818928!3d37.275578278180674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1607177809262!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
<!-- <section class="pt-4" style="overflow: hidden;">
    <div *ngIf="looped" style="height: 700px;">
        <google-chart [data]="geoChart"></google-chart>
    </div>
</section> -->



<section class="pt-5">
    <div class="container">
        <div class="row pb-4">
            <div class="col-sm-12">
                <div class="content-wrapper">
                    <h2 class="text-center ">Team</h2>
                    <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team pb-5">
    <div class="container">
        <div class="row" *ngIf="teamContent && teamContent.length>0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let team of teamContent;let i=index">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" [src]="assetUrl+team.image">

                    </div>
                    <div class="team-content">
                        <h3 class="name">{{team.name}}</h3>
                        <h4 class="title">{{team.description}}</h4>
                    </div>
                </div>
            </div>
            <!--
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="./assets/images/001-01.png">
            </div>
            <div class="team-content">
              <h3 class="name">Emily Blatter Boyer</h3>
              <h4 class="title">President and CEO CoVent Challenge Corp</h4>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="./assets/images/001-03.png">
            </div>
            <div class="team-content">
              <h3 class="name">Diana Barragan Bradford, MD</h3>
              <h4 class="title">Co-Investigator, Anesthesiologist and Critical Care Fellow Massachusetts General Hospital</h4>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="./assets/images/001-04.png">
            </div>
            <div class="team-content">
              <h3 class="name">Jonathan Nelson</h3>
              <h4 class="title">Chief Advisor, Venture Capitalist, Humanitarian and Emergency Medicine Nurse</h4>
            </div>
          </div>
        </div>
        -->
        </div>
    </div>
</section>

<h1 class="text-center ">Donations</h1>
<section class="MakePayment-sec mt-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-8 col-md-8 col-8">
                <div class="donation-font">
                    <div>
                        <h1>HELP OTHERS BY GIVING.</h1>
                        <h3>DONATE AND SUPPORT OUR PROGRAM</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="MakePayment-wrapper  ">
                    <div class="makepayment">
                        <h2>Make your lifesaving gift today!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae molestiae nihil,</p>

                        <div class="donate-quantity">
                            <ul>
                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check">
                                        <label class="btn btn-default" for="check">$50</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check2">
                                        <label class="btn btn-default" for="check2">$75</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check3">
                                        <label class="btn btn-default" for="check3">$100</label>
                                    </div>
                                </li>

                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check4">
                                        <label class="btn btn-default" for="check4">$250</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check5">
                                        <label class="btn btn-default" for="check5">$500</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check6">
                                        <label class="btn btn-default" for="check6">$1000</label>
                                    </div>
                                </li>

                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check7">
                                        <label class="btn btn-default" for="check7">$1500</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn_check">
                                        <input type="checkbox" id="check8">
                                        <label class="btn btn-default" for="check8">Other</label>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <a class="donation-btn"><i class="fa fa-donate"></i>&nbsp;&nbsp;DONATE</a>
                    </div>


                </div>



            </div>
        </div>
    </div>
</section>
<h2 class="text-center mt-5">Contact Us</h2>
<section class="mt-5">
    <div class="container">
        <div class="row pb-4">
            <div class="col-sm-12">
                <div class="col-md-5">

                    <!-- <p class="text-center feature_description" style="font-size:18px">Quickly access the information you need during COVID-19.</p> -->
                </div>
                <div class="col-md-7">

                </div>
            </div>
        </div>
    </div>
</section>